.background {
  background-color: #7D5FE6;
}

.logo {
  background-image: url("assets/jottacloud.png");
}

.progressBar {
  background-color: #7D5FE6;
}

/*
.splash {
  background-image: url(splash.png);
}
*/
